{
  "printWidth": 50,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "importOrder": [
    "^react.*",
    "^next.*",
    "^@",
    "^#/components/ui/(.*)$",
    "^#/components/(.*)$",
    "^#/(.*)$",
    "^#/lib/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
